<table>
    <tr>
        <td>
            <p>Luis Galindo</p>
            <p>Ser fisicoculturista y tener cuadritos</p>

        </td>
        <td>
            <img src =  "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-u8Fe7DX47mkq-7cWNbsIy7mVBzMFhVy0eg&s">
        </td>

        <td>
            <ul>
                <li>lalogod74#gmail.com</li>
                <li>2731617732</li>
                <li>Totutla, Veracruz</li>
                <li>Ed.lun03</li>
            </ul>
        </td>
    </tr>
</table>